.chart {
    border: 1px solid grey;
}

.chart rect {
    fill: rgb(69, 183, 147);
    stroke: white;    
}

.chart text {
    font: 10px sans-serif;
}

.chart line {
    stroke: lightgrey;
}

.chart .bar-label {
    fill: white;
}