.graphcalc {
    position: relative;
    margin: auto auto;
    width: 800px;
    height: 280px;
    background-color: gray;
}



#graphWindow {
    position: relative;
    margin: 25px;
    border: 1px solid black;
    background-color: white;
    
}

#inputs {
    position: relative;
    top: -245px;
    left: 405px;
    width: 330px;
    height: 180px;
    padding: 30px 10px 10px 30px;
    background-color: lightgray;

    border-radius: 10px;
    text-align: justify;
    font-family: Monaco;
    font-size: 8pt;
}

canvas {
    border-radius: 10px;
    width: 350px;
    height: 220px;
}

input[type="text"] {
    margin: 5px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    width: 255px   
    
}
