.specs {
    border: 1px solid gray;
    height: 600px;
    width: 800px;
    margin: auto auto;
}

.specs .short {
    height: 148;
}

.specs .tall {
    height: 448;
}

.specs .narrow {
    width: 348;
}

.specs .wide {
    width: 448;
}

.specs div {
    float: left;
    border: 1px solid lightgray;
}

.specs .checkDisplay {
    text-align: center;
}

.specs .checkDisplay .btn {
    width: 448;
    height: 46;
    padding: 0;
    border-radius: 0;
}

.specs .checkDisplay .alert {
    width: 448;
    height: 100;
    padding: 0;
}

.specs .specsDisplay {
    overflow: auto;
}

.specs .specsDisplay .well {
    border-radius: 0;
    width: 326;
    padding: 10px;
    margin: 0;
}